# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.venv/
venv/
ENV/

# Ignore all extracted and split datasets under inputs/
inputs/datasets/
inputs/datasets/*
inputs/datasets/**

# Ignore output binaries and saved numpy arrays
outputs/v1/*.npy
outputs/v1/*.h5

# OS files
.DS_Store

kaggle.json
*.json