# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.venv/
venv/
ENV/

# Ignore raw and split datasets
inputs/datasets/
inputs/datasets/*
inputs/datasets/cherry-leaves/
inputs/datasets/cherry_leaves_split/

# Ignore outputs with generated arrays/models if needed
outputs/v1/*.npy
outputs/v1/*.h5

# OS files
.DS_Store

kaggle.json
*.json